/*!

  CSS made for use in Adriano Cahete's Portfolio https://adrianocahete.dev/

*/

// Global vars
:root {
  --textColor: rgba(0, 0, 0, 1);
  --bgColor: rgba(255, 255, 255, 1);

  --scrollbarColor: rgba(228, 228, 228, .8);
}

@media (prefers-color-scheme: dark) {
  :root {
      // Dark Theme
  }
}